.stats-container>:first-child .stat-number::before{
    content: "\1F525";
    display: block;
}
.stats-container>:last-child{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.stats-container>:last-child .stat-number,.stat-label{
    color: white;
}
.stats-container>.stats-grid:hover{
    translate: 0 -5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.553);
}
.workout-section>article:nth-child(3){
    background-color: rgba(255, 248, 186);
}
.workout-section>article:nth-child(3)::before{
    content: "";
    height: 100%;
    width: 5px;
    background-color: rgba(243, 156, 18);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
    translate: 0.5px;
}
div:nth-child(even)>.exercise-name::before{
    content: "\26A1";
    display: block;
}
/* div:first-child>div.exercise-item{
    background: rgba(240, 255, 244);
} */
.goals-container input:focus,
.goals-container select:focus{
    border: 1px solid rgb(77, 77, 255);
    box-shadow: 0 2px 10px blue;
}